*{
    box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
    font-size: 100%;
    font-family: "Share Tech Mono", monospace;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(https://img.freepik.com/free-vector/neon-light-arrow-direction-perspective_1017-22033.jpg?w=1060&t=st=1690457576~exp=1690458176~hmac=d740c8c6cf9a7046421dc5190747ddd2854a3355c1ce410f91044eb9604dde59); /* Replace 'path/to/your/image.jpg' with the actual path or URL of your image */
    background-size: cover; /* Scale the image to cover the entire background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center center; /* Center the image both horizontally and vertically */
}

.stopwatch {
    text-align: center;
    border: 4px solid fuchsia;
    padding: 4rem;
    margin-top: 4rem;
    box-shadow: 0 0 10px fuchsia;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 1rem;
      left: 1rem;
      z-index: -1;
      border-bottom: 1px solid fuchsia;
      border-right: 1px solid fuchsia;
      box-shadow: 3px 3px 3px 0 #80008066;
    }
}

.time {
  font-size: 3em;
  color: cyan;
  text-shadow: 0 0 10px rgb(0, 128, 128);
  margin-bottom: 0.5em;
  font-family: 'Orbitron', sans-serif;
}


button {
    cursor: pointer;
    border: 1px solid cyan;
    background: 0;
    color: cyan;
    padding: 0.5em 1em;
    text-transform: uppercase;
    margin: 0 0.5em;
    transition: all 0.3s;
    &.clear {
      color: orange;
      border: 1px solid orange;
      position: relative;
      &:after {
        content: "";
        height: 1px;
        width: 20px;
        position: absolute;
        background: orange;
        top: -1rem;
        left: calc(50% - 100px);
        box-shadow: 0 0 5px orange;
      }
      &:hover {
        background: rgba(255, 28, 128, 0.5);
        box-shadow: 0 0 10px rgba(255, 28, 128, 0.5);
      }
    }
    &:hover {
      background: rgba(0, 128, 128, 0.5);
      box-shadow: 0 0 10px rgba(0, 128, 128, 0.5);
    }
  }

.laps {
  color: orange;
  text-shadow: 0 0 5px rgba(255, 128, 128, 1);
  margin: 2rem 2rem ;
  padding: 0;
  li {
    list-style-type: decimal;
    font-size: 1.2em;
  }
}
  












